@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,900&display=swap');
  
// font-family: 'Poppins', sans-serif;
$main-color: #2196f3;
    $main-color-alt: #1787e0;
    $main-transition-duration: 0.5s;
    $main-padding:100px;
    $section-background: #ececec;
    $aColor:#fafafa;
    $sectionColor2:#fff;
    $textColor:#777;

  
  